.tob-popup-container {
  .tob-popup {
    position: relative;
  }
  .tob-popup-mask {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $dark;
    opacity: 0.25;
    z-index: $modal-z-index;
    cursor: pointer;
  }
  .tob-popup-content {
    @include align(v);
    position: fixed;
    background-color: white;
    box-shadow: $modal-shadow;
    z-index: $modal-z-index + 1;
  }
  .tob-popup-body {
    @include background-colours();
    display: block;
  }
  .tob-footer {
    background-color: $background-color-d-1;
  }
}

.tob-popup-content.ng-enter {
  transition: opacity .5s ease-out;
  opacity: 0;
}
.tob-popup-content.ng-enter.ng-enter-active {
  opacity: 1;
}
.tob-popup-content.ng-leave {
  transition: opacity .5s ease-out;
  opacity: 1;
}
.tob-popup-content.ng-leave.ng-leave-active {
  opacity: 0;
}


.tob-modal .tob-popup-content {
  @include position-popup($modal-width);
  @include negate-padding($modal-padding);
  padding: $modal-padding;
  border-radius: $popup-border-radius;
  .tob-heading {
    border-radius: $popup-border-radius $popup-border-radius 0 0;
    text-transform: uppercase;
  }
  .tob-footer {
    border-radius: 0 0 $popup-border-radius $popup-border-radius;
    text-align: right;
    .tob-button {
      margin-top: 0;
    }
  }
}
