<h2>Toasts</h2>

<h3>Instructions</h3>
<ol>
  <li>Include <a href="https://github.com/Foxandxss/angular-toastr">angular-toastr</a>.</li>
  <li>Load angular-toastr's JavaScript and CSS files.</li>
  <li>Load <code>toastr</code> in your module.</li>
</ol>

<div>
  <div class="tob-button positive" ng-click="toasts.showToastSuccess()">Success</div>
  <div class="tob-button negative" ng-click="toasts.showToastError()">Error</div>
  <div class="tob-button balanced" ng-click="toasts.showToastInfo()">Info</div>
  <div class="tob-button warning" ng-click="toasts.showToastWarning()">Warning</div>
</div>
